*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(200, 234, 250);
}
.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 60vh;
    text-align: center;
    border: 2px solid;
    background-color: white;
    width: 50%;
    margin: 2rem auto;
    border-radius: 1rem;
    box-shadow: 4px 4px 5px rgb(22, 21, 21);
}

.main-heading{
    font-size: 2rem;
    font-family: cursive;
}

.passenger-count{
    font-size: 2rem;
}

button{
    height: 2rem;
    width: 7rem;
    border: none;
    background-color: #4c93af;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.save-btn{
    background-color: rgb(17, 158, 17);
}

#save-el{
    font-size: 1.5rem;
}